{:paths ["src/clj" "src/cljc"
         ;;"dev/clj"
         "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring {:mvn/version "1.9.5"}
        ring/ring-json {:mvn/version "0.5.1"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        compojure/compojure {:mvn/version "1.6.2"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
        org.postgresql/postgresql {:mvn/version "42.2.10"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        integrant/integrant {:mvn/version "0.8.0"}
        integrant/repl {:mvn/version "0.3.2"}}}
