@font-face {
  font-family: main-font;
  src: url(../fonts/roboto-reg.ttf);
}

div {
  font-family: main-font;
}

.header { grid-area: h; }
.content { grid-area: c; }

.grid-container {
  display: grid;
  grid-template-areas:
      'h'
      'c'
      'c'
      'c'
      'c';
  grid-gap: 10px;
  background-color: darkgray;
  grid-template-rows: 40px 800px;
  padding: 0px;
}

.grid-container > div {
  background-color: lightgray;
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
}

p {
    display: block;
    color: black;
    text-align: center;
    padding: 2px 2px;
    

  }

button {
    display: block;
    background: lightgray;
    text-align: center;
    paddind: 29px 29px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
